
*{color:#000000;background-color:#FFFFFF;
   margin:0;padding:0;
   overflow:hidden;
    }
    /* p{text-indent:2em;} */
        p{width:360px;}
article{
  display:inline-block;
  width:325px;
  height:275px;
  margin-bottom:50px;
  padding:20px;
  background-color:#FFFFFF;
  border:3px solid #eeeeee;
  border-radius:3px;
}
.maincontent{width:1500px;background-color:#EEEEDD;margin:0 auto;}

nav{height:100px;
    background-image:linear-gradient(180deg, #eeeeff 2px, #E0E0E0 30px, #4444AA 60px);/* 第一色持续范围,渐变色开始的范围,第三个渐变色开始的范围 */
}
nav ul{background-color:transparent;
     }
nav ul li{display:inline;}

article header h4{height:50px;width:320px;

}
video-info{width:660px;}
video{
    width:640px;
    height:480px;
    
}
.video-info p{width:640px;
    margin:10px;}

.search-area{
    text-align:center;
}
.img-prev{

}
